/* Estilos CSS para el formulario de login */

/* Estilos para el contenedor principal del formulario de login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(111, 135, 38, 0.304);
}

/* Estilos para el formulario de login */
.login-form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 40px;
  width: 300px;
}

/* Estilos para el título "Login" */
.login-form h1 {
  text-align: center;
  color: #333;
}

/* Estilos para los contenedores de los campos de entrada */
.input-container {
  margin-bottom: 20px;
}

/* Estilos para las etiquetas de los campos de entrada */
.input-container label {
  display: block;
  margin-bottom: 6px;
  color: #555;
}

/* Estilos para los campos de entrada de texto */
.input-field {
  width: calc(100% - 12px);
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* Estilos para el botón de enviar */
.submit-btn {
  margin-left: 30%;
  margin-top: 4%;
  width:40%;
  padding: 12px;
  border-radius: 20px;
  border: none;
  background-color: #007bffd0;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}


/* Estilos para el componente Draw */


/* Estilos para la lista de nombres*/
.names-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
/* Estilos para las tarjetas de los nombres */
.name-card {
  font-size: 18px;
  margin: 8px;
  background-color: #efe6e6;
  padding: 8px;
  border-radius: 20px;
  font-family: monospace;
  white-space: nowrap;
  min-width: 100px;
}

/* Resto de estilos para el contenedor principal */
.draw-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(229, 176, 134, 0.705);
  padding: 20px;
  box-sizing: border-box;
}

.input-container {
  margin-bottom: 20px;
}

.input-container input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.input-container input:focus {
  outline: none;
  border-color: #5c9be2;
}

.names-container {
  text-align: center;
}

.logout-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #d9534f;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin:5px;
}

.logout-btn:hover {
  background-color: #c9302c;
  
}

.timer{
  border-radius: 20px;
  background-color: antiquewhite;
  padding: 30px;
  font-size: 50px;
  width: fit-content;
}

.winner{
  color: white;
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: cursive;
}